body {
    background-color: $body-color;
}

header.card-title {
    display: inline;
    font-size: 1.3em;
}

section.card {
    background-color: $section-color;
    margin: 40px 0;
    padding: 40px;
    box-shadow: 0 0 0 0, 0 0px 25px rgba(34, 34, 34, 0.15);
    border-radius: 3px;
    position: relative;
	.decal {
        position: absolute;
        right: 10px;
        top: 10px;
        max-width: 50px;
        max-height: 50px;
    }
    p {
        margin: 0;
    }
}

.card-content {
    h1 {
        font-weight: bold;
        line-height: 0.75em;
        display: inline;
    }
    h2 {
        margin-bottom: 5px;
        color: $secondary-color;
        font-size: 1.3em;
    }
    h3 {
        margin: 0;
    }
    p.date {
        float: right;
        color: $secondary-color;
        }
    }





